{% extends "base.html" %}

{% block title %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">

{% endblock %}

{% block body %}
{#    # Forum main interface#}
    <div class="jumbotron">
  <h1 class="display-4">Hello, players!</h1>
  <p class="lead">Here is a forum where you can share any interest in chess.</p>
                    <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('forum.search') }}">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                               name="q">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
  <hr class="my-4">
  <p style="font-size: 20px">Now let's talk!</p>
        <button onclick="window.location.href='{{ url_for('forum.post_question') }}'" >POST</button>
{#    # Jump to the Posting page#}

      <div class="row" style="margin-top: 20px;">
    <div class="col"></div>
    <div class="col-10">
      <ul class="question-ul">
        {% for question in questions %}
          <li>
            <div class="side-question">
              <img class="side-question-avatar" src="{{ url_for('static',filename='images/avatar.png') }}" alt="">
            </div>
            <div class="question-main">
              <div class="question-title"><a style="font-size: 25px" href="{{ url_for('forum.question_detail',question_id=question.id) }}">{{ question.title }}</a></div>
              <div class="question-content" style="font-size: 20px; color: #000000;" >{{ question.content }}</div>
              <div class="question-detail">
                <span class="question-author" style="font-size: 20px; color: #000000;">{{ question.author.username }}</span>
                <span class="question-time" style="font-size: 20px; color: #000000;">{{ question.create_time }}</span>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col"></div>
  </div>
</div>


{% endblock %}