{% extends "base.html" %}

{% block title %}
    login

{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">

{% endblock %}

{% block body %}
{#    # Login screen#}
    <div class="row mt-4">
        <div class="col"></div>
        <div class="col">
            <form action="{{ url_for("user.login") }}" method="POST">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                           id="email" name="email" >
                    <span style="color: #bd2130; display: none" id="email_incorrect">Please enter email</span>
{#                    # Enter email#}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <span style="color: #bd2130; display: none" id="password_incorrect">Please enter password</span>
                </div>
{#                <div class="form-group form-check">#}
{#                    <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
{#                    <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
{#                </div>#}
{#                    # Enter password#}
                {% for message in get_flashed_messages() %}
                    <div class="form-group">
                        <div class="text-danger">{{ message }}</div>

                    </div>
                {% endfor %}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
{#                    # Submit the form#}

                </div>
            </form>
        </div>

        <div class="col"></div>
    </div>
    <script>

        $('#email').keyup(function (){
        let email = $('#email').val()
        if(email != ""){
            $('#email_incorrect').css('display','none')
        }else{
            $('#email_incorrect').css('display','inline')
        }
    })

    $('#password').keyup(function (){
        let passord = $('#password').val()
        if(passord != ""){
            $('#password_incorrect').css('display','none')
        }else{
            $('#password_incorrect').css('display','inline')
        }
    })

    </script>


{% endblock %}
