{% extends "new.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static', filename= 'JQ/jquery.3.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/register.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/person.css') }}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}


{% block body %}
{##Displays posts by logged-in users#}
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">WeChess</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="{{ url_for('user.centre', user_id = information.id)}}">
                    <i class='bx bx-user'></i>
                    <span class="links_name">User</span>
                </a>
                <span class="tooltip">User</span>
            </li>
            <li>
                <a href="{{ url_for('user.blog_personal', author_id = information.id) }}">
                    <i class='bx bx-chat'></i>
                    <span class="links_name">Blog</span>
                </a>
                <span class="tooltip">Blog</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Analytics</span>
                </a>
                <span class="tooltip">Analytics</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-heart'></i>
                    <span class="links_name">Saved</span>
                </a>
                <span class="tooltip">Saved</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Setting</span>
                </a>
                <span class="tooltip">Setting</span>
            </li>
            <li>
                <a href="/">
                <i class='bx bx-log-out' id="log_out"></i>
                <span class="links_name">Out</span>
                </a>
                <span class="tooltip">Out</span>
            </li>
        </ul>
    </div>
    <section class="home-section">
{#    # Personal card#}
        <!-- left content -->
        <div class="split-screen">
            <div class="split-screen__half">
                <div class="card">
                    <div class="card-img" ></div>
                    <div class="card-info" >
                        <p class="text-title" type="file">{{ information.username }}</p>
                        <p class="text-level">Level: King</p>
                        <p class="text-body">You know what I'm made of. Why don't you find me?</p>

                    </div>
                </div>
            </div>
{#            # Personal information#}
            <!-- Right content -->
            <div class="split-screen__half">
                <div class="row" style="margin-top: 250px;">
                    <div class="col">
                        <form method="POST" , action="{{ url_for('user.user_change') }}">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                           aria-describedby="emailHelp"
                                           name="email" value={{ information.email }} readonly=“readonly”>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone
                                        else.</small>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">User Name</label>
                                    <input type="text" class="form-control" name="username" value={{ information.username }}>
                                </div>



                                <div class="form-group">
                                    <label for="exampleInputPassword1">Confirm Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                           name="password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Change Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword"
                                           name="password_change" >
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>

                    <div class="col"></div>
                </div>
            </div>
        </div>
    </section>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
        });

        searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
            sidebar.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
            }
        }
    </script>
{% endblock %}