{% extends "base.html" %}

{% block title %}{% endblock %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/play.css') }}">

{% endblock %}

{% block body %}
    {# Game introduction and buttons #}
    <div class="container1">
        <div class="card">

            <a href="/play/chess">
            <div class="imgBx">
                <img src="{{ url_for('static',filename='images/chess.png') }}">
            </div>
            </a>
            <div class="content">
                <h2>CHESS</h2>
                <p>
                    Chess is a two-player board game. The checkerboard is a square, composed of 64 black and white (dark and light) grids; The chess pieces are divided into black and white (dark and light) two sides, a total of 32 pieces, each side 16 pieces
                </p>
            </div>
        </div>
        <div class="card">
            <a href="">
            <div class="imgBx">
                <img src="{{ url_for('static',filename='images/wuzi.jpg') }}" alt="">
            </div>
            </a>
            <div class="content">
                <h2>GOBANG</h2>
                <p>
                    Gobang originated in China. The two sides use black and white pieces, respectively, and play on the cross point of the straight line and the horizontal line of the chessboard
                </p>
            </div>
        </div>
    </div>




{% endblock %}