<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>m</title>
    <link rel="stylesheet" type="text/css" href="a.css">
</head>
<body>
    <div class="row">
        <div class="centercolumn">
            <div class="card">
                <h2 id="m">How to play Chess</h2><br />
                <hr />
               
                <p style="text-indent:2em">
                 The king moves exactly one square horizontally, vertically, or diagonally. A special move with the king known as castling is allowed only once per player, per game (see below).
	A rook moves any number of vacant squares horizontally or vertically. It also is moved when castling.
	A bishop moves any number of vacant squares diagonally.
	The queen moves any number of vacant squares horizontally, vertically, or diagonally.
	A knight moves to one of the nearest squares not on the same rank, file, or diagonal. (This can be thought of as moving two squares horizontally then one square vertically, or moving one square horizontally then two squares vertically—i.e. in an "L" pattern.) The knight is not blocked by other pieces; it jumps to the new location.<br/>
	Pawns have the most complex rules of movement:
	A pawn moves straight forward one square, if that square is vacant. If it has not yet moved, a pawn also has the option of moving two squares straight forward, provided both squares are vacant. Pawns cannot move backwards.
	A pawn, unlike other pieces, captures differently from how it moves. A pawn can capture an enemy piece on either of the two squares diagonally in front of the pawn. It cannot move to those squares when vacant except when capturing en passant.

                </p>
                
                
            </div>
            <br /><br />
            <div class="card">
                <h2 id="biaoti">  How to play Chinese Chess (Xiang Qi)</h2><br />
                <hr />
          
                <p style="text-indent:2em">
                  

                </p>
                <p style="text-indent:2em">
                   Each side alternates, moving one piece in each turn. Pieces capture by using their normal moves and landing on a point occupied by an enemy piece. Generally, red makes the first move but two players can agree to play otherwise.

Victory is achieved when one player puts the other’s general in checkmate. Checkmate is when the other player’s general is left with no option but to be captured in the next move. When the player’s general is in danger of being captured on the next move, that general is in check, “Jiāng” 將/将，and the player threatening capture announces it.

If a player forces the other player to repeat a move by repeating his move a second time, he must break the cycle with a different move on his next turn.

If a player checks the other player three times in a row in a way that repeats their positions, the checked player must forfeit.
                </p>
                
                
               
             
            </div>

        </div>


    </div>
   
    
    <br /><br />
    

</body>
</html>